<html>
<head>
<title>Graph Space</title>
<link rel="stylesheet" href="[% request.uri_base %]/css/reset.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/text.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/960.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/graph-space.css" />
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/smoothness/jquery-ui.css" />
<!--
-->
<script src="[% request.uri_base %]/js/graph-space.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>

<script>
function delete_tag(tag) {
    var url = '[% request.uri_base %]/graphs/[% graph_id %]/tags/' + tag;
    $.ajax({
        url: url,
        dataType: 'text',
        type: 'DELETE',
        error: function(xhr, text, err) { 
            alert('ajax error: ' + text);
        },
        success: function(data) {
            $('#tag_' + tag).remove();
        }
    });
}
</script>
<style>
input {
  margin-bottom: 5px;
}
</style>
<script>
function gen_quote() {
      var texts = [
          'the final frontier',
          '... to explore strange new networks',
          '... to boldly go where no graph has gone before'
      ];
      var rand_index = Math.floor(Math.random() * texts.length)
      return texts[rand_index];
}
$(function() {
    //$( "#accordion" ).accordion();
    $('.accordion').accordion({
        autoHeight: false,
        collapsible: true
    });
    $('#title').attr('title', gen_quote());
});
</script>

</head>

<body>

<div class="container_12">

  <div id="header" class="grid_12">
    <h1 id="title">Graph Space</h1>
    <a href="[% request.uri_base %]/graphs">Search</a>
    <a href="#" style="float:right">logout</a>
    <hr/>
  </div>

  <div class="clear"></div>

  [% content %]

  <!--
  <div class="clear"></div>
  <div class="grid_12">
    Powered by <a href="http://perldancer.org/">Dancer</a> [% dancer_version %]
  </div>
  -->

</div> <!-- container_12 -->

</body>
</html>
