<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
<title>Graph Space</title>
<link rel="stylesheet" href="[% request.uri_base %]/css/style.css" />
<script type="text/javascript" src="[% request.uri_base %]/js/jquery.js"></script>
</head>
<body>
<div id="page">

<div id="content">

    <div id="header">
        <h1>Graph Space</h1>
        <h2>
        <script type="text/javascript" charset="utf-8">
            var texts = [
                'the final frontier',
                '... to explore strange new networks',
                '... to boldly go where no graph has gone before'
            ];
            var rand_index = Math.floor(Math.random() * texts.length)
            document.write(texts[rand_index]);
        </script>
        </h2>
    </div>

    <div id="getting-started">
        [% content %]
    </div>

</div> <!-- content -->

<div id="sidebar">
    <ul id="sidebar-items">
    <li>
        <a href="/admin" target="_blank">Admin</a>
    </li>
    <!--
    <li>
        <h3>Graph Spaces</h3>
        <select name="graph_spaces" id="graph_spaces">
        <option value="graph_space_1">graph space 1</option>
        </select>
    </li>
    <li>
        <h3>Graphs</h3>
        <a href="[% request.uri_base %]/graphs">Graphs</a>
    </li>
    -->
    <li id="graph_details_cont">
        <h3>Graph Details</h3>
        <div id="graph_details"></div>
    </li>
    <li>
        <h3>Node Details</h3>
        <div id="node_details"></div>
    </li>
    </ul>
</div> <!-- sidebar -->

</div> <!-- page -->

<div id="footer">
Powered by <a href="http://perldancer.org/">Dancer</a> [% dancer_version %]
</div>

</body>
</html>
