<html>
<head>
<title>Foo</title>
<!--
-->
<link rel="stylesheet" href="[% request.uri_base %]/css/reset.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/text.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/960.css" />
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/smoothness/jquery-ui.css" />
<!--
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/ui-lightness/jquery-ui.css" />
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
    
<style type="text/css" media="screen">
.acc {
    margin-bottom: 10px;
}
.acc h3 {
    font-weight: bold;
}
</style>
</head>
<body>

<div class="container_12">
  <div class="grid_12">
    <h1>Graph Space</h1>
  </div>

  <div class="clear"></div>

  <div class="grid_9">

    hi
    <script>
    $(function() {
      $( "#dialog" ).dialog({ autoOpen: false, show: 'fade'  });

      $( "#d_btn" ).click(function() {
        $( "#dialog" ).dialog( "open" );
        return false;
      });
    });
    </script>

    <input type="button" id="d_btn" value="go" />
    <div id="dialog" title="Basic dialog">
      This is the default dialog which is useful for displaying information.
    </div>

  </div>

  <div class="grid_3">
    <div id="acc1" class="acc">
      <h3><a href="#">Graph Details</a></h3>
      <div>Nice Graph</div>
    </div>
    <div id="acc2" class="acc">
      <h3><a href="#">Node Details</a></h3>
      <div>Nice Node</div>
    </div>
    <script>
    $(function() {
        //$( "#accordion" ).accordion();
        $( "div.acc" ).accordion({collapsible: true});
    });
    </script>
  </div>

</div>

</body>
</html>

<!--
 vim:ft=html:sw=2:sts=2:ts=2
-->
