
#graphs_tbl td {
  width:300px;
}

.graph_id_cont {
    width:300px;
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
}

ul.tags {
    margin: 0;
}

ul.tags li {
    list-style-type: none;
    float: left;
    padding: 3px 6px;
    margin-right: 6px;
    margin-top: 5px;
/*
    margin: 4px 3px;
    border-radius: 6px;
    border:2px solid #999;
    background-color: #ddd;
    font-size: .8em;
*/
}

div.accordion {
    margin-bottom: 10px;
}

.cyto_normal {
    height: 600px;
}

.cyto_large {
    height: 800px;
}
