
body {
font-family: 'Linux Libertine', Palatino, 'Palatino Linotype', 'Book Antiqua', Georgia, 'Times New Roman', serif;
margin: 0;
margin-bottom: 25px;
padding: 0;
background-color: #ddd;
background-repeat: no-repeat;
background-position: top left;

font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
font-size: 13px;
color: #333;
}

h1 {
font-size: 28px;
color: #000;
}

a  {color: #03c}
a:hover {
background-color: #03c;
color: white;
text-decoration: none;
}


#page {
    background-color: #ddd;
    /*
    width: 750px;
    */
    width: 1060px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

#content {
    background-color: white;
    border: 3px solid #aaa;
    border-top: none;
    padding: 25px;
    width: 500px;
    width: 700px;
    display: inline;
    float: left;
    margin-right: 10px;
/*
*/
}

#sidebar {
/*
*/
    width: 200px;
    float: left;
}

#header, #about, #content-body {
    padding-left: 75px;
    padding-right: 30px;
}


#header {
/*
background-image: url("/images/perldancer.jpg"); 
*/
background-repeat: no-repeat;
background-position: top left;
height: 64px;
}
#header h1, #header h2 {margin: 0}
#header h2 {
color: #888;
font-weight: normal;
font-size: 16px;
}


#about h3 {
margin: 0;
margin-bottom: 10px;
font-size: 14px;
}

#about-content {
background-color: #ffd;
border: 1px solid #fc0;
margin-left: -11px;
}
#about-content table {
margin-top: 10px;
margin-bottom: 10px;
font-size: 11px;
border-collapse: collapse;
}
#about-content td {
padding: 10px;
padding-top: 3px;
padding-bottom: 3px;
}
#about-content td.name  {color: #555}
#about-content td.value {color: #000}

#about-content.failure {
background-color: #fcc;
border: 1px solid #f00;
}
#about-content.failure p {
margin: 0;
padding: 10px;
}


#content-body {
border-top: 1px solid #ccc;
margin-top: 25px;
padding-top: 15px;
}
#content-body h1 {
margin: 0;
font-size: 20px;
}
#content-body h2 {
margin: 0;
font-size: 14px;
font-weight: normal;
color: #333;
margin-bottom: 25px;
}
#content-body ol {
margin-left: 0;
padding-left: 0;
}
#content-body li {
font-size: 18px;
color: #888;
margin-bottom: 25px;
}
#content-body li h2 {
margin: 0;
font-weight: normal;
font-size: 18px;
color: #333;
}
#content-body li p {
color: #555;
font-size: 13px;
}


#search {
margin: 0;
padding-top: 10px;
padding-bottom: 10px;
font-size: 11px;
}
#search input {
font-size: 11px;
margin: 2px;
}
#search-text {width: 170px}


#sidebar ul {
margin-left: 0;
padding-left: 0;
}
#sidebar ul h3 {
margin-top: 25px;
font-size: 16px;
padding-bottom: 10px;
border-bottom: 1px solid #ccc;
}
#sidebar li {
list-style-type: none;
}
#sidebar ul.links li {
margin-bottom: 5px;
}


h1, h2, h3, h4, h5 {
font-family: sans-serif;
margin: 1.2em 0 0.6em 0;
}

p {
line-height: 1.5em;
margin: 1.6em 0;
}

code, tt {
    font-family: 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
}

#footer {
    clear: both;
    padding-top: 2em;
    text-align: center;
    padding-right: 160px;
    font-family: sans-serif;
    font-size: 10px;
}

.form_row {
    margin-bottom: 10px;
    clear: both;
}

.form_row div {
    float:left;
    width:120px;
    font-weight: bold;
}

#node_details {
    background-color: #FFF;
    border: 3px solid #aaa;
    padding: 10px;
    display: none;
    height: 200px;
    overflow: auto;
    /*
    border-radius: 10px;
    */
}

#graph_details {
    background-color: #FFF;
    border: 3px solid #aaa;
    padding: 10px;
    overflow: auto;
    /*
    height: 300px;
    border-radius: 10px;
    */
}

#graph_details_cont {
    display: none;
}

.tag_cont {
/*
    display:inline;
    */
    border:1px solid blue;
    background-color:#ffa;
    margin: 3px 6px;
    padding: 3px;
    float: left;
}
